/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-top: 57px;
    margin-left: 72px;
    background-color: rgb(246, 246, 246);
}

.icon {
    cursor: pointer;
    height: 24px;
}

/* ------------------------------------------- */
